NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=your_default_public_token
POSTGRES_PRISMA_URL="postgresql://postgres:supersecret@localhost:5432/mydb"
POSTGRES_URL_NON_POOLING="postgresql://postgres:supersecret@localhost:5432/mydb"
GOOGLE_SERVICE_ACCOUNT_CREDENTIALS=
COMPOSE_FILE=docker/docker-compose.yml
DB_PASSWORD=supersecret
DB_USER=postgres
DB_NAME=mydb