@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body * {
  font-family: var(--font-lato), sans-serif;
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
  font-family: var(--font-fredoka), sans-serif;
}

.marker {
  background-image: url("/school_marker.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 0;
  cursor: pointer;
}

.golden-gate-marker {
  background-image: url("/GoldenGate.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.bay-bridge-marker {
  background-image: url("/BayBridge.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.delay-100 {
  transition-delay: 100ms;
}
.delay-200 {
  transition-delay: 200ms;
}
.delay-300 {
  transition-delay: 300ms;
}
.delay-400 {
  transition-delay: 400ms;
}
.delay-500 {
  transition-delay: 500ms;
}
.delay-600 {
  transition-delay: 600ms;
}
.delay-800 {
  transition-delay: 800ms;
}
.delay-1000 {
  transition-delay: 1000ms;
}
.delay-1200 {
  transition-delay: 1200ms;
}
.delay-1400 {
  transition-delay: 1400ms;
}
.delay-1600 {
  transition-delay: 1600ms;
}
.delay-2000 {
  transition-delay: 2000ms;
}
.delay-2400 {
  transition-delay: 2400ms;
}
.delay-2800 {
  transition-delay: 2800ms;
}
.delay-3200 {
  transition-delay: 3200ms;
}

input:checked + .slider {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
